Repository BF-FrontEnd-class-2025/group-4-loruki, pull requests merged in 2025-01, with the labels that each got.

#9 communication plan
  planning/communication.md
Labels: md

#13 add personas
  planning/user-personas.md
Labels: md

#14 update constraints
  planning/constraints.md
Labels: md, planning

#15 developed backlog
  .cspell.json
  planning/backlog.md
  planning/communication.md
Labels: md, planning

#16 add project design
  planning/design.md
  planning/design.png
Labels: md, planning

#17 design update
  planning/design.md
  planning/design.png
Labels: md, planning

#18 developed development strategy
  planning/README.md
  planning/development-strategy.md
Labels: md, planning

#38 develop navigation bar
  css/README.md
  css/style.css
  css/utilities.css
  index.html
  styles/index.css
  styles/something.css
Labels: CSS, HTML

#39 develop main content
  css/style.css
  css/utilities.css
  index.html
Labels: CSS, HTML

#40 develop request form
  css/style.css
  css/utilities.css
  index.html
Labels: CSS, HTML

#41 develop stats section
  css/style.css
  css/utilities.css
  index.html
  planning/user-personas.md
Labels: CSS, HTML

#42 develop cloud section and added images
  css/style.css
  images/cli.png
  images/cloud.png
  images/docs.png
  images/favicon.png
  images/npm.png
  images/server.png
  images/server2.png
  index.html
Labels: CSS, HTML

#43 develop cli section
  css/style.css
  index.html
Labels: CSS, HTML

#44 develop languages section and added logos
  css/style.css
  images/logos/clojure.png
  images/logos/csharp.png
  images/logos/go.png
  images/logos/node.png
  images/logos/php.png
  images/logos/python.png
  images/logos/ruby.png
  images/logos/scala.png
  index.html
Labels: CSS, HTML

#45 devalop footer section
  css/style.css
  css/utilities.css
  index.html
Labels: CSS, HTML

#46 develop animation
  css/style.css
  index.html
Labels: CSS, HTML

#47 develope planning strategy
  css/style.css
  index.html
  planning/backlog.md
  planning/design.md
  planning/designpagetwo.png
  planning/development-strategy.md
Labels: md, CSS, HTML, planning

#61 create features and docs pages
  docs.html
  features.html
Labels: HTML

#62 develop features page navbar
  docs.html
  features.html
  index.html
Labels: CSS, HTML

#65 develope features head
  css/style.css
  features.html
Labels: CSS, HTML

#67 develop sub head
  .cspell.json
  features.html
  planning/development-strategy.md
Labels: CSS, HTML

#69 develop features section
  css/style.css
  features.html
  index.html
Labels: CSS, HTML

#70 Backlog update
  planning/backlog.md
Labels: md

#71 develop features footer
  .cspell.json
  css/style.css
  features.html
  index.html
Labels: CSS, HTML

#80 Update development strategy
  planning/development-strategy.md
Labels: md

#81 develope docs navbar
  docs.html
Labels: HTML

#82 develop docs page footer
  docs.html
Labels: HTML

#83 develope head section for docs
  docs.html
Labels: CSS, HTML

#84 develope main section
  .cspell.json
  css/style.css
  docs.html
Labels: CSS, HTML

#85 retrospective
  planning/retrospective.md
Labels: md

#86 final readme
  README.md
  planning/screenshot.jpg
  planning/screenshot.png
Labels: md
